.navs{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    position: relative;
}
.navigate{
    max-width: 828px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 13px; */
}
.navigate span{
    display: block;
    width: 0;
    height: 28px;
    border: 1px solid #00103D1F;
}
.links{
    color: #2C2D2E;
    transition: 0.3s;
    /* //styleName: H3;
    font-family: Montserrat; */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}
.links:hover{
    color: #EF7C00;
}
.darkmod{
    max-width: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.darkmod i:hover{
    color: #EF7C00;
}
.darkmod button{
    border: none;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
}
.dark{
    background-color: #2C2D2E;
    color: black;
    transition: 0.4s;
}
.light{
    background-color: white;
    transition: 0.5s;
}
.dnavs{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    -webkit-box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 1px 8px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #2C2D2E;
}
.mini{
    max-width: 244px;
    width: 100%;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 80px;
    left: 140px;
    background-color: #f4f2f2;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 33px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 8px 33px 0px rgba(34, 60, 80, 0.2);
box-shadow: 0px 8px 33px 0px rgba(34, 60, 80, 0.2);
}
.none{
    display: none;
}